# Node modules
/frontend/node_modules/

# Vite
/frontend/dist/
/frontend/.vite/
/frontend/vite.config.*.local
/frontend/.env
/frontend/.env.local
/frontend/.env.*.local

# .NET build artifacts
**/bin/
/**/obj/
/**/out/
/*.dll
/*.exe
/*.pdb
/*.user
*.aps
*.pch
*.vspscc
*_i.c
*_p.c
*.ncb
*.suo
*.tlb
*.tlh
*.tmp
*.tmp_proj
*.log
*.vspscc
*.vssscc
.builds
*.pidb
*.svclog
*.scc

# IDE
/.idea/
/.vscode/
*.suo
*.user
*.userosscache
*.sln.docstates